/* *https://coolors.co/071e22-388697-cd533b-f6ae2d color platte for this project */

@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  padding: 0;
}

header {
  background-color: #071e22;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  margin-bottom: 3rem;
  padding: 1rem;
  justify-content: space-between;
}

.icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  padding: 2rem;
}

.intro {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

button {
  margin-bottom: 2rem;
}

.banner {
  flex-shrink: 0;
  width: 60%;
  height: 100%;
  margin: 1rem;
  border-radius: 12px;
}

a,
a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #f6ae2d;
}

a:active {
  color: #388697;
}

button {
  background-color: #071e22;
  color: #f6ae2d;
  border: 2px solid #f6ae2d;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  border: 2px solid #cd533b;
  color: #cd533b;
  background-color: #071e22;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
